.new-mail-btn {
  width: 100%;
  border: none;
  line-height: 4rem;
  font-size: 2rem;
  text-transform: lowercase;
  letter-spacing: 0.5rem ;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: 0.2s box-shadow ease;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
}