.dash-board-item {
  text-transform: lowercase;
  margin: 0 2rem 2rem;

  &__subject {
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;

    &::before {
      content: 'subject:';
      font-size: 1.4rem;
      font-weight: 400;
      color: #202020;
      margin: 0 1.5rem 0 0;
    }
  }

  &__from {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;

    &::before {
      content: 'from:';
      font-size: 1.2rem;
      color: #202020;
      margin: 0 1.5rem 0 0;
    }
  }

  &__msg-text {
    cursor: pointer;
    display: block;
    color: #222;
    margin: 0 5rem 0 2rem;
  }
}