.head-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem 0;

  &__img {
    object-fit: cover;
    width: 10rem;
  }

  &__avatar {
    border: 2px solid #65ba7f;
  }

  &__search-bar {
    flex-basis: 30%;
    background-color: #eeeeee;
    border: 1px solid #c2c2c2;
  }
}

.circle-shape {
  border-radius: 50%;
}